/*

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #fff;
  background: #161617;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-size: 15px;
  color: #8f8f8f;
  line-height: 1.2;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-padding {
  padding: 120px 0;
}

.section-head {
  margin-bottom: 40px;
  position: relative;
}
.section-head h2 {
  font-weight: 800;
  font-family: inherit;
  letter-spacing: 2px;
  color: #333333;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

section:hover .section-head h2 {
  color: transparent;
  -webkit-text-stroke: 1px #c4b366;
}

.wave {
  position: absolute;
  width: 100%;
  left: 0;
  top: -1px;
  fill: #161617;
}
.wave.dark {
  fill: #0f0f0f;
}

.bg-dark {
  background: #0f0f0f !important;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.lg-line-height {
  line-height: 1.5;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 1;
}

.header .container {
  position: relative;
  z-index: 2;
}

.header p,
.header h1,
.header a {
  position: relative;
  z-index: 2;
}

.bg-fixed {
  background-attachment: fixed;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.cd-headline {
  line-height: 1.2;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
}

.cd-words-wrapper b {
  font-weight: inherit;
  color: #c49b66;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.push b {
  opacity: 0;
}

.cd-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  animation: push-in 0.6s;
}

.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}


.butn {
  padding: 12px 34px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  position: relative;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
}
.butn span {
  position: relative;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.butn:before,
.butn:after {
  content: "";
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  z-index: 1;
  opacity: 0.4;
}
.butn:after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background: #fff;
  opacity: 1;
}
.butn:hover:before,
.butn:hover:after {
  width: 100%;
}
.butn:hover:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.butn:hover span {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.butn-bg {
  background: #c49b66;
  border-color: #c49b66;
  color: #fff;
}
.butn-bg:hover span {
  color: #c49b66;
}

.butn-light {
  background: #fff;
}
.butn-light:before,
.butn-light:after {
  background: #c49b66;
}
.butn-light:hover span {
  color: #fff;
}
.butn-light span {
  color: #c49b66;
}

.butn-bord {
  background: transparent;
  border: 1px solid #eee;
}
.butn-bord:before,
.butn-bord:after {
  background: #c49b66;
}
.butn-bord:hover {
  border-color: #c49b66;
}
.butn-bord:hover span {
  color: #fff;
}


.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  min-height: 80px;
  background-color: #111111ba;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 500;
  color: #eee;
  letter-spacing: 0.5px;
  margin: 15px 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar .navbar-nav .active {
  color: #c49b66 !important;
}

.nav-scroll {
  background: #111;
  padding: 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, f-webkit-transform 0.5s;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.logo {
  width: 150px;
  height: 80px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 26px;
  font-weight: 900;
  padding: 15px 0;
}



.header {
  min-height: 100vh;
  background-image: url("../img/gsr-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header .caption .o-hidden {
  display: inline-block;
}
.header .caption h2 {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 4px;
}
.header .caption h1 {
  margin: 15px 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
.header .caption .social {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgba(200, 200, 200, 0.05);
}
.header .caption .social a {
  padding: 0 15px;
  font-size: 14px;
}
.header .caption .social a:hover {
  color: #c49b66;
}



.about .skills {
  padding: 100px 0;
}
.about .skills h6 {
  font-size: 16px;
  font-weight: 400;
}

.about .skills span{
  font-size: 14px;
}

.about .skills .skill-progress {
  height: 8px;
  width: 100%;
  background-color: #333;
  border-radius: 20px;
  position: relative;
}
.about .skills .skill-progress .progres {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #c49b66;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.about .skills .skill-progress .progres:after {
  content: attr(data-value);
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 10px;
}
.about .hero-img {
  background-position: 50% 50%;
}
.about .content {
  padding: 100px 0;
}
.about .content h6 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
}
.about .content h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  background: #c49b66;
  padding: 5px 10px;
  margin-bottom: 40px;
}
.about .content h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about .content .social span {
  position: relative;
  padding-right: 50px;
  color: #c49b66;
  font-size: 12px;
}
.about .content .social span:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 50%;
}
.about .content .social a {
  font-size: 16px;
  margin: 0 10px;
  transition: 0.5s;
}
.about .content .social a:hover {
  color: #c49b66;
}

.hero {
  z-index: 3;
}
.hero .wave {
  -webkit-transform: rotate(180deg) translateY(100%);
  transform: rotate(180deg) translateY(100%);
  top: 1px;
}
.hero .content {
  padding-top: 50px;
}
.hero .content h6 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
}
.hero .content h4 {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  background: #c49b66;
  padding: 5px 10px;
  margin-bottom: 40px;
}
.hero .content h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.hero .content .social span {
  position: relative;
  padding-right: 50px;
  color: #c49b66;
  font-size: 12px;
}
.hero .content .social span:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 50%;
}
.hero .content .social a {
  font-size: 12px;
  margin: 0 10px;
}
.hero .content .social a:hover {
  color: #c49b66;
}
.hero .content .butn {
  margin-left: 0;
}


.skill-item .skill-item_exp li {
  font-size: 12px;
  padding-bottom: 10px;
}

.skill-item .skill-item_experience h5 {
  font-size: 1rem;
}

.skill-item .skill-item_experience div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.skill-item .skill-item_experience div span {
  width: 150px;
  text-align: end;
  color: #c49b66;
}

.education_img_mobile {
  display: none;
}

.skill-item .skill-lang_experience .skill-lang_abt h6 span{
  color: #c49b66;
}


.certificate .item {
  text-align: center;
  padding: 50px 20px;
  margin: 10px;
  background: #0a0a0c;
  height: 475px;
  border-radius: 4px;
}

.certificate-img{
  height: 295px;
}

.certificate-img img{
  height: 100%;
}

.certificate p span{
  font-size: 16px;
}

.certificate h5 {
  padding-top: 10px;
  color: #c49b66;
}



.portfolio {
  overflow: hidden;
}
.portfolio .filtering span {
  padding: 9px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio .filtering .active {
  background: #c49b66;
  color: #fff;
  -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
}

.portfolio .gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio .items .item-img {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.portfolio .items .item-img .item-image {
  width: 100%;
  height: 100%;
}

.portfolio .item-img:hover .item-img-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.portfolio .item-img:hover h6 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.portfolio .item-img h6 {
  position: relative;
  margin-bottom: 8px;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .item-img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.portfolio .item-img-overlay a {
  font-size: 30px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #c49b66;
}

.portfolio .item-img-overlay p{
  padding: 10px;
}

.portfolio .item-img-overlay .overlay-info ul{
  color: #8f8f8f;
  list-style: disc;
  text-align: start;
  padding: 10px;
}



.portfolio .portfolio_routing{ 
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}

.portfolio .item-img-overlay .portfolio_go_project{
  color: #c49b66;
  font-size: 14px;
}

.portfolio .portfolio_routing a{
  color: #c49b6690;

  font-weight: 500;
  padding: 10px ;
  border-radius: 4px;
  border: 1px solid #c49b66 ;
  transition: .5s;
  
}

.portfolio .portfolio_routing a:hover{
  border: 1px solid #222 ;
  color: #c49b66;
  transition: .5s;
}


.my-slider {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 80%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex; 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%; 
  box-sizing: border-box; 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.blog .item {
  -webkit-box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.blog .item:hover img {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.blog .item:hover .content {
  bottom: 0;
}
.blog .item img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.blog .item .content {
  background-color: #0f0f0f;
  padding: 10px 30px;
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog .item .content .data {
  color: #c49b66;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.blog .item .content .data a {
  margin-right: 10px;
  position: relative;
}
.blog .item .content .data a:after {
  content: "/";
  position: relative;
  margin-left: 10px;
}
.blog .item .content .data a:last-child {
  margin-right: 0;
}
.blog .item .content .data a:last-child:after {
  display: none;
}
.blog .item .content h5 {
  font-weight: 500;
  line-height: 2.5;
  color: #fff;
}
.blog .item .content .more {
  letter-spacing: 2px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #c49b66;
}
.blog .item .content .more:hover {
  color: #c49b66;
}

.half-header {
  min-height: 70vh;
}
.half-header .caption a {
  margin: 15px;
}
.half-header .caption a:hover {
  color: #c49b66;
}

.posts .post {
  padding: 0 15px;
}
.posts .post:hover img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.posts .post-img {
  position: relative;
}
.posts .post-img .img {
  overflow: hidden;
}
.posts .post-img img {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.posts .post-img .date {
  position: absolute;
  top: 25px;
  left: -25px;
  padding: 10px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.posts .post-img .date:after {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  bottom: 50%;
  right: -25px;
  background-color: #eee;
}
.posts .post-content {
  margin-top: 30px;
}
.posts .post-content h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
.posts .post-content .tags a {
  font-size: 13px;
  color: #999;
}
.posts .post-content .more {
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #c49b66;
}
.posts .post-content .more:hover {
  color: #c49b66;
}

.posts-blog .item {
  -webkit-box-shadow: 0px 15px 40px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 40px -10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.posts-blog .item .row {
  padding: 0;
  margin: 0 !important;
}
.posts-blog .item .cont {
  padding: 50px 30px;
}
.posts-blog .item .cont h6 {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.posts-blog .item .cont p {
  font-size: 14px;
}
.posts-blog .item .info {
  font-size: 10px;
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

.posts-blog .item .info a {
  margin-right: 10px;
}
.posts-blog .item .info a:last-child {
  margin-right: 0;
}
.posts-blog .item .info .tag {
  padding: 4px;
  background-color: #c49b66;
  color: #fff;
  float: right;
  line-height: 1;
}
.posts-blog .item .more {
  font-size: 13px;
  font-weight: 600;
  color: #c49b66;
  margin-top: 15px;
}
.posts-blog .item .more:hover {
  color: #c49b66;
}
.posts-blog .item .more:hover i {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.posts-blog .item .more i {
  font-size: 10px;
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.posts-blog .item {
  margin-bottom: 30px;
}
.posts-blog .item .post-img {
  position: relative;
}
.posts-blog .item .tag {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
}
.posts-blog .item .tag a {
  background-color: #c49b66;
  padding: 5px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.posts-blog .item .tag .icon {
  font-size: 8px;
}
.posts-blog .item .spical {
  margin: 15px;
  padding: 15px;
  border-left: 4px solid #c49b66;
}
.posts-blog .info {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
.posts-blog .info a {
  color: #999;
  font-weight: 600;
  font-size: 11px;
}
.posts-blog .info a .author {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px -6px 0;
  position: relative;
}
.posts-blog .info a .icon {
  font-size: 12px;
  margin-right: 2px;
}
.posts-blog .info .right {
  float: right;
}
.posts-blog .title {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.posts-blog .comments,
.posts-blog .add-comment {
  padding: 30px 15px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 5px;
}
.posts-blog .comments .com,
.posts-blog .add-comment .com {
  margin-bottom: 30px;
}
.posts-blog .comments .com:last-child,
.posts-blog .add-comment .com:last-child {
  margin-bottom: 0;
}
.posts-blog .comments .com:nth-child(odd),
.posts-blog .add-comment .com:nth-child(odd) {
  margin-left: 50px;
}
.posts-blog .comments .img,
.posts-blog .add-comment .img {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
}
.posts-blog .comments .cont,
.posts-blog .add-comment .cont {
  margin-left: 75px;
}
.posts-blog .comments .cont h6,
.posts-blog .add-comment .cont h6 {
  font-size: 12px;
  margin-bottom: 5px;
}
.posts-blog .comments .cont span,
.posts-blog .add-comment .cont span {
  color: #999;
  font-size: 11px;
  font-style: italic;
  margin-bottom: 10px;
}
.posts-blog .comments .cont .reply,
.posts-blog .add-comment .cont .reply {
  float: right;
  margin-right: 15px;
  margin-top: -15px;
}
.posts-blog .comments .cont .reply:hover,
.posts-blog .add-comment .cont .reply:hover {
  color: #c49b66;
}
.posts-blog form input,
.posts-blog form textarea {
  width: 100%;
  padding: 15px;
  background-color: #fafafa;
  border: 0;
}
.posts-blog form textarea {
  height: 140px;
  max-height: 140px;
  max-width: 100%;
  margin-bottom: 10px;
}
.posts-blog form .butn {
  margin: 30px 0 0 0;
  border: 0;
  cursor: pointer;
}

.pagination {
  text-align: center;
}
.pagination ul {
  margin: auto;
}
.pagination li {
  float: left;
  margin: 0 5px;
}
.pagination li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
.pagination .active a {
  background-color: #c49b66;
  color: #fff;
}

.side-bar .widget {
  padding: 30px 15px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  overflow: hidden;
}
.side-bar .widget ul {
  margin-bottom: 0;
}
.side-bar .widget ul li {
  margin-bottom: 10px;
  color: #444;
  font-size: 13px;
}
.side-bar .widget ul li:last-child {
  margin-bottom: 0;
}
.side-bar .widget ul li i {
  font-size: 10px;
  margin-right: 10px;
}
.side-bar .widget .recent li {
  display: block;
  overflow: hidden;
}
.side-bar .widget .recent .thum {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.side-bar .widget .recent a {
  display: block;
  margin-left: 60px;
  line-height: 1.7;
}
.side-bar .widget-title {
  margin-bottom: 30px;
}
.side-bar .widget-title h6 {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.side-bar .search form {
  position: relative;
}
.side-bar .search form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #eee;
}
.side-bar .search form button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: #999;
  border: 0;
  padding: 10px;
  cursor: pointer;
}
.side-bar .gallery li {
  width: 33.33333%;
  float: left;
  border: 5px solid #fff;
}
.side-bar .tags li {
  font-size: 12px;
  margin: 2px !important;
  padding: 5px 10px;
  background-color: #c49b66;
  color: #fff !important;
  border-radius: 4px;
  float: left;
}
.side-bar .tags li:hover {
  background-color: #222;
}



.contact .info {
  padding-top: 30px;
}

.contact .info {
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contact .info .item {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 30px;
}
.contact .info .item .cont h6 {
  color: #c49b66;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact .form input,
.contact .form textarea {
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  background: #222;
  border-radius: 30px;
}
.contact .form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
  border-radius: 10px;
}
.contact .form .butn {
  float: right;
  overflow: hidden;
  cursor: pointer;
}
.contact .form .butn:hover {
  border-color: #c49b66;
}


footer {
  padding: 80px 0;
}
footer .social a {
  color: #c49b66;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 15px 10px;
  position: relative;
  z-index: 2;
}
footer .social a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #222;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .social a:hover {
  color: #fff;
}
footer .social a:hover:after {
  background: #c49b66;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
footer p {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .bg-fixed {
    background-attachment: scroll !important;
  }

  .navbar {
    padding-left: 15px;
  }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }

  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .nav-scroll .navbar-collapse .active {
    color: #c49b66 !important;
  }

  .header {
    background-image: url("../img/gasar.jpg");
    background-position: 0% 100%;
  }
  .header .caption h2 {
    font-size: 30px;
  }
  .header .caption h1 {
    font-size: 45px;
    line-height: 1.4;
  }

  .about .section-head {
    text-align: center;
  }
  .about .hero-img {
    height: 600px;
  }

  .portfolio .items.width2 {
    width: 50%;
  }

  .valign {
    justify-content: center;
  }

  .education .education_img_desk {
    display: none;
  }

  .education .education_img_mobile {
    display: block;
    height: 200px;
    width: 100%;
    background-image: url("../img/education_mobile.jpeg") !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {

  .logo{
    width: 100px;
  }
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }

  .section-head h2 {
    font-size: 40px;
    color: #c49b66;
  }

  .butn {
    margin: 0 2px;
  }

  .header .caption h4 {
    font-size: 20px;
  }
  .header .caption h1 {
    font-size: 25px;
    line-height: 1.4;
  }

  .portfolio .filtering span {
    padding: 9px 12px;
    font-weight: 400;
    margin: 0;
  }

  .portfolio .items.width2,
  .portfolio .items {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .certificate .item {

    height: 380px;
    
  }

  .certificate-img{
    height: 200px;
  }
  .blog .item .content{
    padding: 10px 0;
    bottom: -30px;

  }

  .blog .item .content h5{
    line-height: 0;
  }

  .blog .item .content span{
    font-size: 8px;
    padding: 0 !important;
  }
  
}
@media screen and (max-width: 480px) {
  .header .caption h2 {
    font-size: 16px;
  }
  .header .caption h1 {
    font-size: 20px;
    line-height: 1.4;
  }

  .portfolio .filtering span {
    margin-bottom: 10px;
  }

  .cd-words-wrapper {
    width: 100%;
  }
}

*/


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  word-wrap: break-word;
}
body {
  background: #161617;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  overflow-x: hidden !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Sans, sans-serif;
}
p {
  color: #8f8f8f;
  font-size: 15px;
  line-height: 1.2;
  margin: 0;
}
img {
  height: auto;
  width: 100%;
}
a,
a:hover,
span {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
.section-padding {
  padding: 120px 0;
}
.section-head {
  margin-bottom: 40px;
  position: relative;
}
.section-head h2 {
  color: #333;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
section:hover .section-head h2 {
  color: transparent;
  -webkit-text-stroke: 1px #c4b366;
}
.bg-dark {
  background: #0f0f0f !important;
}
.o-hidden {
  overflow: hidden;
}
.position-re {
  position: relative;
}
.full-width {
  width: 100% !important;
}
.bg-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img:before {
  background-color: rgba(0, 0, 0, 0.452);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.header .container,
.header a,
.header h1,
.header p {
  position: relative;
  z-index: 2;
}
.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cd-headline {
  line-height: 1.2;
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
}
.cd-words-wrapper b {
  color: #c49b66;
  display: inline-block;
  font-weight: inherit;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.cd-headline.push b {
  opacity: 0;
}
.cd-headline.push b.is-visible {
  -webkit-animation: push-in 0.6s;
  animation: push-in 0.6s;
  opacity: 1;
}
.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  animation: push-out 0.6s;
}
@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.butn {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  outline: none !important;
  overflow: hidden;
  padding: 12px 34px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 3;
}
.butn,
.butn span {
  position: relative;
}
.butn span {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 2;
}
.butn:after,
.butn:before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  width: 0;
  z-index: 1;
}
.butn:after {
  background: #fff;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.butn:hover:after,
.butn:hover:before {
  width: 100%;
}
.butn:hover span,
.butn:hover:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.butn-bg {
  background: #c49b66;
  border-color: #c49b66;
  color: #fff;
}
.butn-bg:hover span {
  color: #c49b66;
}
.butn-light {
  background: #fff;
}
.butn-light:after,
.butn-light:before {
  background: #c49b66;
}
.butn-light:hover span {
  color: #fff;
}
.butn-light span {
  color: #c49b66;
}
.butn-bord {
  background: transparent;
  border: 1px solid #eee;
}
.butn-bord:after,
.butn-bord:before {
  background: #c49b66;
}
.butn-bord:hover {
  border-color: #c49b66;
}
.butn-bord:hover span {
  color: #fff;
}
.navbar {
  background: transparent;
  background-color: #111111ba;
  left: 0;
  min-height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #eee;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 15px 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar .navbar-nav .active {
  color: #c49b66 !important;
}
.nav-scroll {
  background: #111;
  left: 0;
  padding: 0;
  position: fixed;
  top: -100px;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, f-webkit-transform 0.5s;
  width: 100%;
}
.logo {
  font-family: Pacifico, cursive;
  font-size: 26px;
  font-weight: 400;
  font-weight: 900;
  height: 80px;
  padding: 15px 0;
  width: 150px;
}
.header {
  background-image: url(../img/gsr-header.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.header .caption .o-hidden {
  display: inline-block;
}
.header .caption h2 {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 4px;
}
.header .caption h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 15px 0;
}
.header .caption .social {
  background-color: hsla(0, 0%, 78%, 0.05);
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
}
.header .caption .social a {
  font-size: 14px;
  padding: 0 15px;
}
.header .caption .social a:hover {
  color: #c49b66;
}
.about .skills {
  padding: 100px 0;
}
.about .skills h6 {
  font-size: 16px;
  font-weight: 400;
}
.about .skills span {
  font-size: 14px;
}
.about .skills .skill-progress {
  background-color: #333;
  border-radius: 20px;
  height: 8px;
  position: relative;
  width: 100%;
}
.about .skills .skill-progress .progres {
  background-color: #c49b66;
  border-radius: 20px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  width: 10%;
}
.about .skills .skill-progress .progres:after {
  content: attr(data-value);
  font-size: 10px;
  position: absolute;
  right: 0;
  top: -15px;
}
.about .hero-img {
  background-position: 50% 50%;
}
.about .content {
  padding: 100px 0;
}
.about .content h6 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about .content h3 {
  background: #c49b66;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 40px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.about .content h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.about .content .social span {
  color: #c49b66;
  font-size: 12px;
  padding-right: 50px;
  position: relative;
}
.about .content .social span:after {
  background-color: #eee;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
}
.about .content .social a {
  font-size: 16px;
  margin: 0 10px;
  transition: 0.5s;
}
.about .content .social a:hover {
  color: #c49b66;
}
.skill-item .skill-item_exp li {
  font-size: 12px;
  padding-bottom: 10px;
}
.skill-item .skill-item_experience h5 {
  font-size: 1rem;
}
.skill-item .skill-item_experience div {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.skill-item .skill-item_experience div span {
  color: #c49b66;
  text-align: end;
  width: 150px;
}
.education_img_mobile {
  display: none;
}
.skill-item .skill-lang_experience .skill-lang_abt h6 span {
  color: #c49b66;
}
.certificate .item {
  background: #0a0a0c;
  border-radius: 4px;
  height: 475px;
  margin: 10px;
  padding: 50px 20px;
  text-align: center;
}
.certificate-img {
  height: 295px;
}
.certificate-img img {
  height: 100%;
}
.certificate p span {
  font-size: 16px;
}
.certificate h5 {
  color: #c49b66;
  padding-top: 10px;
}
.portfolio {
  overflow: hidden;
}
.portfolio .filtering span {
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 9px 30px;
  text-transform: uppercase;
}
.portfolio .filtering .active {
  background: #c49b66;
  -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.portfolio .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.portfolio .items .item-img {
  border-radius: 5px;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
.portfolio .items .item-img .item-image {
  height: 100%;
  width: 100%;
}
.portfolio .item-img:hover .item-img-overlay {
  opacity: 1;
}
.portfolio .item-img:hover .item-img-overlay,
.portfolio .item-img:hover h6 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.portfolio .item-img h6 {
  margin-bottom: 8px;
  position: relative;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .item-img-overlay {
  background: rgba(0, 0, 0, 0.9);
  bottom: 5px;
  color: #fff;
  left: 5px;
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.portfolio .item-img-overlay a {
  bottom: 15px;
  color: #c49b66;
  font-size: 30px;
  position: absolute;
  right: 15px;
}
.portfolio .item-img-overlay p {
  padding: 10px;
}
.portfolio .item-img-overlay .overlay-info ul {
  color: #8f8f8f;
  list-style: disc;
  padding: 10px;
  text-align: start;
}
.portfolio .portfolio_routing {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}
.portfolio .item-img-overlay .portfolio_go_project {
  color: #c49b66;
  font-size: 14px;
}
.portfolio .portfolio_routing a {
  border: 1px solid #c49b66;
  border-radius: 4px;
  color: #c49b6690;
  font-weight: 500;
  padding: 10px;
  transition: 0.5s;
}
.portfolio .portfolio_routing a:hover {
  border: 1px solid #222;
  color: #c49b66;
  transition: 0.5s;
}
.my-slider {
  color: #000;
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 80%;
}
.swiper {
  height: 100%;
  width: 100%;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  width: 33.33%;
}
.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}
.blog .item {
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.blog .item:hover img {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.blog .item:hover .content {
  bottom: 0;
}
.blog .item img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.blog .item .content {
  background-color: #0f0f0f;
  bottom: -60px;
  left: 0;
  padding: 10px 30px;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.blog .item .content .data {
  color: #c49b66;
  font-size: 11px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.blog .item .content .data a {
  margin-right: 10px;
  position: relative;
}
.blog .item .content .data a:after {
  content: "/";
  margin-left: 10px;
  position: relative;
}
.blog .item .content .data a:last-child {
  margin-right: 0;
}
.blog .item .content .data a:last-child:after {
  display: none;
}
.blog .item .content h5 {
  color: #fff;
  font-weight: 500;
  line-height: 2.5;
}
.blog .item .content .more {
  border-bottom: 1px solid #c49b66;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.blog .item .content .more:hover {
  color: #c49b66;
}
.contact .info {
  background-image: url(../img/map.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
}
.contact .info .item {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 30px;
}
.contact .info .item .cont h6 {
  color: #c49b66;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.contact .form input,
.contact .form textarea {
  background: #222;
  border: 0;
  border-radius: 30px;
  color: #fff;
  padding: 15px;
  width: 100%;
}
.contact .form textarea {
  border-radius: 10px;
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}
.contact .form .butn {
  cursor: pointer;
  float: right;
  overflow: hidden;
}
.contact .form .butn:hover {
  border-color: #c49b66;
}
footer {
  padding: 80px 0;
}
footer .social a {
  color: #c49b66;
  height: 40px;
  line-height: 40px;
  margin: 15px 10px;
  position: relative;
  width: 40px;
  z-index: 2;
}
footer .social a:after {
  background-color: #222;
  border-radius: 10px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}
footer .social a:hover {
  color: #fff;
}
footer .social a:hover:after {
  background: #c49b66;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
footer p {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }
  .navbar {
    padding-left: 15px;
  }
  .navbar .navbar-collapse {
    background-color: transparent;
    max-height: 340px;
    overflow: auto;
    padding: 10px 0;
    text-align: center;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }
  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .nav-scroll .navbar-collapse .active {
    color: #c49b66 !important;
  }
  .header {
    background-image: url(../img/gasar.jpg);
    background-position: 0 100%;
  }
  .header .caption h2 {
    font-size: 30px;
  }
  .header .caption h1 {
    font-size: 45px;
    line-height: 1.4;
  }
  .about .section-head {
    text-align: center;
  }
  .about .hero-img {
    height: 600px;
  }
  .valign {
    justify-content: center;
  }
  .education .education_img_desk {
    display: none;
  }
  .education .education_img_mobile {
    background-image: url(../img/education_mobile.jpeg) !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 100px;
  }
  .section-head h2 {
    color: #c49b66;
    font-size: 40px;
  }
  .butn {
    margin: 0 2px;
  }
  .header .caption h4 {
    font-size: 20px;
  }
  .header .caption h1 {
    font-size: 25px;
    line-height: 1.4;
  }
  .portfolio .filtering span {
    font-weight: 400;
    margin: 0;
    padding: 9px 12px;
  }
  .portfolio .items {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .certificate .item {
    height: 380px;
  }
  .certificate-img {
    height: 200px;
  }
  .blog .item .content {
    bottom: -30px;
    padding: 10px 0;
  }
  .blog .item .content h5 {
    line-height: 0;
  }
  .blog .item .content span {
    font-size: 8px;
    padding: 0 !important;
  }
}
@media screen and (max-width: 480px) {
  .header .caption h2 {
    font-size: 16px;
  }
  .header .caption h1 {
    font-size: 20px;
    line-height: 1.4;
  }
  .portfolio .filtering span {
    margin-bottom: 10px;
  }
  .cd-words-wrapper {
    width: 100%;
  }
}
