<% layout('layout') %>
<main>
  <section class="blog-list section-padding bg-dark" data-scroll-index="6">
    <h1>Blog Yazıları</h1>
    <ul>
      <% blogs.forEach(function(blog) { %>
        <li>
          <a href="/blog/<%= blog.formattedTitle %>">
            <h2><%= blog.title %></h2> 
            <p><%= blog.content.substring(0, 100) %>...</p> 
          </a>
        </li>
      <% }); %>
    </ul>
  </section>
</main>
