<% layout('layout') %>

<section class="click-game-section">
  <main>
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="click-game-body">
          <h1>Click Game</h1>
          <p id="score">
            Oyuna başlamaq üçün oyunu başlat buttonuna clickləyin
          </p>
          <button class="click_game-btn" id="clickButton" disabled>Click Earea</button>
          <button class="click_game-btn" id="startButton">Oyunu Başlat</button>
          <p id="timer">Oyun müddəti: 30 saniyə</p>
        </div>
      </div>
    </div>
  </main>

  <!-- Modal for game over -->
  <div id="gameOverModal" class="modalClick">
    <h2>Oyun Bitdi!</h2>
    <p id="finalScore">Click sayınız: 0</p>
    <button id="restartButton">Yenidən Başlat</button>
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const clickButton = document.getElementById("clickButton");
  const startButton = document.getElementById("startButton");
  const scoreText = document.getElementById("score");
  const timerText = document.getElementById("timer");
  const gameOverModal = document.getElementById("gameOverModal");
  const finalScore = document.getElementById("finalScore");
  const restartButton = document.getElementById("restartButton");

  let clicks = 0;
  let colorIndex = 0;
  const colors = [
    "#ff6347", 
    "#4682b4",
    "#32cd32", 
    "#8a2be2",
    "#ff8c00", 
    "#3cb371", 
    "#00ced1", 
    "#f4a261", 
    "#2e8b57", 
    "#d2691e", 
    "#ff1493", 
    "#00bfff",
    "#ff4500", 
    "#b0c4de", 
    "#a52a2a", 
  ];

  startButton.addEventListener("click", () => {
    socket.emit("startGame");
  });

  document.addEventListener("DOMContentLoaded", () => {
    if (window.location.pathname === "/click-game") {
      document.getElementById("footer").style.display = "none";
    }
  });

  clickButton.addEventListener("click", () => {
    socket.emit("click");
    clicks++;
    scoreText.textContent = `Siz ${clicks} dəfə klik etmisiniz.`;

   
    colorIndex = (colorIndex + 1) % colors.length;
    clickButton.style.backgroundColor = colors[colorIndex];

   
    setTimeout(() => {
      clickButton.style.backgroundColor = "transparent";
    }, 500);
  });

  socket.on("gameStarted", () => {
    clicks = 0;
    scoreText.textContent = "Siz 0 dəfə klik etmisiniz.";
    clickButton.disabled = false;
    startButton.disabled = true;
  });

  socket.on("clickUpdate", (updatedClicks) => {
    scoreText.textContent = `Siz ${
      updatedClicks[socket.id] || 0
    } dəfə klik etmisiniz.`;
  });

  socket.on("timeUpdate", (timeLeft) => {
    timerText.textContent = `Qalan vaxt: ${timeLeft} saniyə`;
  });

  socket.on("gameEnded", (winner) => {
    clickButton.disabled = true;
    startButton.disabled = false;
    finalScore.textContent = `Click sayınız: ${winner.maxClicks}`;
    gameOverModal.classList.add("show");
  });

  restartButton.addEventListener("click", () => {
    socket.emit("restartGame");
    gameOverModal.classList.remove("show");
    scoreText.textContent =
      "Oyuna başlamaq üçün oyunu başlat buttonuna clickləyin";
    timerText.textContent = "Oyun müddəti: 30 saniyə";
  });
</script>
