<% layout('layout') %>
<section class="portfolioPage">
  <div class="container">
    <div class="row">
      <div class="port_heading col-md-12">
        <h1><span>Gasarayev Emil</span>'s Projects</h1>
      </div>
    </div>
    <div class="port_project">
      <div class="row">
        <div class="col-md-6">
          <div class="project_title">
            <div class="project_head">
              <h2>
                <a href="https://morooq.com/" target="_blank">Morooq</a>
              </h2>
            </div>
            <div class="project_image">
              <img src="assets/img/portfolio/morooq.png" alt="morooq_emil" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project_content">
            <p>
              As a trial version of several Official exams, morooq platform
              provides state of art technology in examination process through
              delivering trial exams from different domains.
            </p>
            <p>
              Through trial exams candidate gain great experience in exam
              preparation, identify his/her weaknesses, turn them into the
              strength.
            </p>
            <p>
              In today’s digital transforming period it is also great
              opportunity to be ready to any upcoming changes, especially in
              education and state based learning is one of the leading and
              crucial trends in today’s reality.
            </p>
            <p>
              Trough morooq candidates will acquire their results fast and in
              details, being able to focus on particular parts of their
              preparation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="port_project">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <div class="project_title project_title_reverse">
            <div class="project_head">
              <h2>
                <a href="https://barattson.com/" target="_blank">Barattson</a>
              </h2>
            </div>
            <div class="project_image">
              <img src="assets/img/portfolio/barattson.png" alt="barattson_emil" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project_content">
            <p>
              As a trial version of several Official exams, morooq platform
              provides state of art technology in examination process through
              delivering trial exams from different domains.
            </p>
            <p>
              Through trial exams candidate gain great experience in exam
              preparation, identify his/her weaknesses, turn them into the
              strength.
            </p>
            <p>
              In today’s digital transforming period it is also great
              opportunity to be ready to any upcoming changes, especially in
              education and state based learning is one of the leading and
              crucial trends in today’s reality.
            </p>
            <p>
              Trough morooq candidates will acquire their results fast and in
              details, being able to focus on particular parts of their
              preparation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="port_project">
      <div class="row">
        <div class="col-md-6">
          <div class="project_title">
            <div class="project_head">
              <h2>
                <a href="https://tapoyren.com/" target="_blank">TapOyren</a>
              </h2>
            </div>
            <div class="project_image">
              <img src="assets/img/portfolio/tapoyren.png" alt="tapoyren_emil" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project_content">
            <p>
              As a trial version of several Official exams, morooq platform
              provides state of art technology in examination process through
              delivering trial exams from different domains.
            </p>
            <p>
              Through trial exams candidate gain great experience in exam
              preparation, identify his/her weaknesses, turn them into the
              strength.
            </p>
            <p>
              In today’s digital transforming period it is also great
              opportunity to be ready to any upcoming changes, especially in
              education and state based learning is one of the leading and
              crucial trends in today’s reality.
            </p>
            <p>
              Trough morooq candidates will acquire their results fast and in
              details, being able to focus on particular parts of their
              preparation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="port_project">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <div class="project_title project_title_reverse">
            <div class="project_head">
              <h2>
                <a
                  href="https://github.com/Gasarayev/Merit-Brand-final-"
                  target="_blank"
                  >Merit Brand</a
                >
              </h2>
            </div>
            <div class="project_image">
              <img
                src="assets/img/portfolio/meritBrand.png"
                alt="meritBrand_emil"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project_content">
            <p>
              As a trial version of several Official exams, morooq platform
              provides state of art technology in examination process through
              delivering trial exams from different domains.
            </p>
            <p>
              Through trial exams candidate gain great experience in exam
              preparation, identify his/her weaknesses, turn them into the
              strength.
            </p>
            <p>
              In today’s digital transforming period it is also great
              opportunity to be ready to any upcoming changes, especially in
              education and state based learning is one of the leading and
              crucial trends in today’s reality.
            </p>
            <p>
              Trough morooq candidates will acquire their results fast and in
              details, being able to focus on particular parts of their
              preparation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="port_project">
      <div class="row">
        <div class="col-md-6">
          <div class="project_title">
            <div class="project_head">
              <h2>
                <a href="https://shaftali.az/" target="_blank">Shaftali.az</a>
              </h2>
            </div>
            <div class="project_image">
              <img src="assets/img/portfolio/shaftali.png" alt="shaftali_emil" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project_content">
            <p>
              As a trial version of several Official exams, morooq platform
              provides state of art technology in examination process through
              delivering trial exams from different domains.
            </p>
            <p>
              Through trial exams candidate gain great experience in exam
              preparation, identify his/her weaknesses, turn them into the
              strength.
            </p>
            <p>
              In today’s digital transforming period it is also great
              opportunity to be ready to any upcoming changes, especially in
              education and state based learning is one of the leading and
              crucial trends in today’s reality.
            </p>
            <p>
              Trough morooq candidates will acquire their results fast and in
              details, being able to focus on particular parts of their
              preparation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
